<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Download Your Admit Card</h2>
<form action="/download-admit-card" method="POST">
    <label>Exam Title:</label>
    <input type="text" name="title" required>

    <label>Mobile Number:</label>
    <input type="text" name="mobileNumber" required>

    <button type="submit">Download Admit Card</button>
</form>

</body>
</html>