<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Management</title>
</head>
<body>
    <div class="container">
        <h1>Class Management</h1>
        <form id="classForm" action="/add/new/class" method="POST" >
            <h1>Title</h1>
            <input type="text" id="title" name="title" placeholder="Class Title" required>
            <h1>Year</h1>
            <input type="text" name="year" >
            <button type="submit">Add Class</button>
        </form>
        <div id="classList"></div>
    </div>   
</body>
</html>