<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Classes</title>
</head>
<body>
    <h1>All Classes</h1>
    
    <%for(let i=0; i<classes.length; i++){%>

        <div id="card" >
            <h3>
            <%= classes[i].title %>
            </h3>  
             
            <a href="/show/this/class/<%= classes[i]._id %>">
                <button>
                    Show Info
                </button>
            </a>
            
        </div>

    <%}%>   

</body>
</html>