<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <style>
        #batch-div{
            
        }
    </style>
</head>
<body>

    <section>
        <h1>My Batches</h1>
        <div id="batch-div" ></div>
    </section>
    
</body>
</html>